    @import url('https: //fonts.googleapis.com/css?family=Poppins');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    html,
    body {
        height: 100%;
        place-items: center;
        display: grid;
        text-align: center;
        background: #131419;
    }
    
    .content {
        width: 330px;
        background: #131419;
        padding: 40px 30px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -3px -3px 7px rgba(255, 255, 255, 0.05);
    }
    
    .content .text {
        font-size: 33px;
        font-weight: 600;
        color: #8c8c8c;
        margin-bottom: 35px;
    }
    
    form .field {
        height: 50px;
        width: 100%;
        display: flex;
    }
    
    .field:nth-child(2) {
        margin-top: 20px;
    }
    
    .field input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background: #131419;
        padding-left: 45px;
        color: #b3b3b3;
        font-size: 18px;
        border-radius: 25px;
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
    }
    
    input::placeholder {
        color: #8c8c8c;
    }
    
    .field span {
        position: absolute;
        width: 50px;
        color: #8c8c8c;
        line-height: 50px;
    }
    
    form .forgat-pass {
        text-align: left;
        margin: 10px 0 10px 5px;
    }
    
    form .forgat-pass a {
        color: #3498db;
        font-size: 13px;
        text-decoration: none;
    }
    
    form .forgat-pass a:hover {
        text-decoration: underline;
    }
    
    form button {
        margin: 15px 0;
        width: 100%;
        height: 50px;
        font-size: 18px;
        background: #131419;
        border-radius: 25px;
        border: none;
        outline: none;
        color: #8c8c8c;
        cursor: pointer;
        font-weight: 600;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -3px -3px 7px rgba(255, 255, 255, 0.05);
    }
    
    form button:focus {
        color: #3498db;
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 7px rgba(255, 255, 255, 0.05);
    }
    
    form .signu-link {
        margin: 10px 0;
        color: #8c8c8c;
        font-size: 16px;
    }
    
    .signu-link a {
        color: #3498db;
        text-decoration: none;
    }
    
    .signu-link a:hover {
        text-decoration: underline;
    }